Package: com.ckosmic.wiredock
Name: WireDock
Depends: mobilesubstrate, libcolorpicker
Architecture: iphoneos-arm
Description: Turns the dock into a customizable outline
Maintainer: Christian Kosman <support@tripleaxis.net>
Author: Christian Kosman <support@tripleaxis.net>
Section: Tweaks
Depiction: https://ckosmic.github.io/repo/depictions/?p=com.ckosmic.wiredock
Version: 0.0.1
Installed-Size: 472
