Package: com.ckosmic.wiredock
Name: wiredock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ckosmic
Author: ckosmic
Section: Tweaks
Version: 0.0.1-11+debug
Installed-Size: 120
